@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
  <div class="container-fluid" id="main-container">
  <div class="container-fluid" id="breadcrumb">
  <nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb bread-style align-text-bottom">
      <li class="breadcrumb-item bread-item">
        <a  asp-page="/Home/Index" class="text-decoration-none text-dark"
          ><i class="fas fa-home"></i>Home</a>
      </li>
      <li class="breadcrumb-item bread-item active" aria-current="page">
      <a  asp-page="/Account/Manage" >My Profile</a>  
      </li>
    </ol>
  </nav>
    </div>
 <div class="row">
       <div class="col-9"> 
@*<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />*@
    <div class="row">
        <div class="col-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</div>

<partial name="/Views/Shared/_SidePartial.cshtml" />

@section Scripts {
    @RenderSection("Scripts", required: false)
}
