@using TheForum.Data.Models
@model List<Topic>
@{
}

<div class="container-fluid" id="main-container">
  <div class="container-fluid" id="breadcrumb">
  <nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb bread-style align-text-bottom">
      <li class="breadcrumb-item bread-item">
        <a  asp-controller="Home" asp-action="Index" class="text-decoration-none text-dark"
          ><i class="fas fa-home"></i>Home</a>
      </li>
      <li class="breadcrumb-item bread-item" aria-current="page">
        <a  asp-controller="Home" asp-action="Index"  class="text-decoration-none text-dark">Boards</a>
      </li>
      <li class="breadcrumb-item bread-item active" aria-current="page">
        Topics
      </li>
    </ol>
  </nav>
      </div>
        <div class="row">
        <div class="col-md-9 col-sm col-lg-9">
           <div class="container-fluid p-5">
            <div class="row">
              <div id="forum-rules" class="col-12 border-left border-danger p-3">
                <h4 class="text-danger">Forum rules</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex align-items-center justify-content-start m-4">

                <a id="new-topic" class="h4 me-5 text-white bg-primary p-3 text-decoration-none"  asp-controller="Topics" asp-action="AddTopic" asp-route-id=@ViewData["id"]>New Topic</a>
                <form action="topics.php" method="GET" id="search-bar" class="form-inline flex-nowrap" name="search-bar">
                  <input name="search" class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
                </form>
              </div>
            </div>
            <div id="announcement" class="row table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <td class="h3">Announcements</td>
                  <td class="h3"></td>
                  <td class="h3"><i class="fas fa-comments"></i></td>
                  <td class="h3"><i class="fas fa-eye"></i></td>
                  <td class="h3"><i class="fas fa-clock"></i></td>
              </tr>
          </thead>
          <tbody class="bg-light">
              <tr class="">
                  <td class="d-flex h2 align-items-center">
                    <i class="fas fa-bullhorn me-5 p-3 border rounded-circle"></i>
                    <div class="text flex-column">
                        <h4>This is a global announcement!</h4>
                        <h4>by Carla > in Unread Forum</h4>
                    </div>

                  </td>

                  <td class="h4">
                    <i class="fas fa-bullhorn"></i>  
                  </td>

                  <td class="">
                    <h4 class="text-muted">203</h4>
                  </td>

                  <td class="">
                    <h4 class="text-muted">5078</h4>
                  </td>

                  <td class="flex-column">
                        <h4>by Carla <i class="fas fa-external-link-square-alt ms-3"></i></h4>
                        <h4>Sun Oct 09, 2016 5:58 pm</h4>

                  </td>
              </tr>
          </tbody>

      </table>
  </div>
  <div id="topics" class="row table-responsive mt-5">
    <table class="table">
        <thead>
            <tr>
                <td class="h3">Topics</td>
                <td class="h3"></td>
                <td class="h3"><i class="fas fa-comments"></i></td>
                <td class="h3"><i class="fas fa-eye"></i></td>
                <td class="h3"><i class="fas fa-clock"></i></td>
            </tr>
        </thead>

        
         <tbody class="bg-light">
           
             @foreach(var topic in Model){

             
                <tr class="">
                  <td class="d-flex h2 align-items-center">
                    <i class="fas fa-folder me-5 p-3 border rounded-circle"></i>
                    <div class="text flex-column">
                       <a href="messages.php?topic_number=<?php echo $top['Topic_Number']; ?>" class="text-decoration-none"><h4>@topic.Title </h4></a> 
                        <h4>@topic.UserName</h4>
                    </div>

                  </td>

                  @*<td class=" h4">
                      <?php 
                      if($top['locked'] == "yes"){
                        echo "<i class='fas fa-lock text-dark'></i>";
                      }else if($top['locked'] == "no"){
                        echo "<i class='fas fa-folder text-dark'></i>";

                      }
                        ?>  
                  </td>*@

                 

                  <td class="h4">
                    <i class="fas fa-folder text-dark"></i>  
                  </td>

                  <td >
                    <h4 class="text-muted">203 </h4>
                  </td>

                  <td>
                    <h4 class="text-muted">5078</h4>
                  </td>

                  <td class="flex-column">
                        <h4>@topic.UserName <i class="fas fa-external-link-square-alt ms-3"></i></h4>
                        <h4>@topic.Creation_Date</h4>

                  </td>
                  
              </tr>
          
           }

    
     </tbody> 
  
       </table>
</div>
<div class="row">
              <div class="col-12 mt-5 d-flex justify-content-between ">
                  
                  <div>
                      <div class="d-inline-block">
                <a id="new-topic"  class="h4 me-5 text-white bg-primary p-3 d-flex align-items-center text-decoration-none me-2"  asp-controller="Topics" asp-action="AddTopic" asp-route-id=@ViewData["id"]>New Topic</a>
                    </div>
                    <div class="d-inline-block">
                <a id="topic-filter" class="h4 me-5 text-dark rounded border border-dark bg-light p-3" href="#"><i class="fas fa-sort-amount-down h2"></i></a>
                    </div>
                </div>
                
               
                <ul class="d-flex align-items-center h3 ms-auto">
                  
                 <li class="list-unstyled">12 topics</li> 
                  <li class="ms-5">Page 1 of 1</li>
                </ul>
               
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-5 d-flex justify-content-between">
                <a id="return-board" class="h4 me-5 text-dark p-3 text-decoration-none" asp-controller="Home" asp-action="Index">&lt; Return to Board Index</a>
               
                <a id="jump-to" class="h4 me-5 text-dark bg-light p-3 ms-auto text-decoration-none" href="#">Jump to ^</a> 
              </div>
            </div>
          </div>
        </div>
       
    <partial name="_SidePartial" />
    </div>