@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" id="main-container">
  <div class="container-fluid" id="breadcrumb">
  <nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb bread-style align-text-bottom">
      <li class="breadcrumb-item bread-item">
        <a href="" class="text-decoration-none text-dark"
          ><i class="fas fa-home"></i>Home</a>
      </li>
      <li class="breadcrumb-item bread-item active" aria-current="page">
        Board index
      </li>
    </ol>
  </nav>
      </div>
      <div class="row">
        <div class="col-md-9 col-sm col-lg-9">
          <div class="container pt-5 bg-light d-flex flex-wrap justify-content-center">
           @* <?php require("../App/View/board_display.php");?>*@
          </div>
        </div>
        <div class="col-md-3 col-lg-3 px-5">
      @*    <?php include("../App/View/reduced_profile.php"); ?>*@
           <!-- Search Bar -->
         <form action="" method="" id="search-bar" class="form-inline flex-nowrap">
          <input name="search" class="form-control w-100" type="search"
          placeholder="Search" aria-label="Search">
          <button class="btn btn-
          info" type="submit"><i class="fas fa-search"></i>
        </button>
        <button class="btn btn-
          info" type="submit"><i class="fas fa-cog"></i>
        </button>
          </form> 
          <hr>
          @*<?php include("../App/View/form_display.php") ?>*@
          <div class="table-responsive mt-5">
            <table id="table-side" class="table">
              <thead class="thead">
                <tr>
                  <th scope="col" class="h3">Last posts</th>
                </tr>
              </thead>
              <tbody class="bg-light d-flex justify-content-center">
                <tr>
                @*  <?php require("../App/View/last_posts.php"); ?>*@
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive mt-5">
            <table id="table-side" class="table">
              <thead class="thead">
                <tr>
                  <th scope="col" class="h3">Last active user</th>
                </tr>
              </thead>
              <tbody class="bg-light">
                <tr class="d-flex justify-content-center flex-wrap">
                @* <?php require("../App/View/last_active_display.php"); ?>*@
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
